
#FUN{
	text-align: center;
}
#FUN2{
	text-align: center;
	margin:50px;
}
#FUN3{
	text-align: center;
	margin:50px;
}
#FUN4{
	text-align: center;
	margin:50px;
}
#FUN5{
	text-align: center;
	margin:50px;
}
